

.title-section{

    color:blue;
    font-size:80px;
    border:3px solid black;

}


.extreme-layout{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.extreme-sections{
    color:rgb(241, 3, 3);
    font-size:60px;  

}